<h1>Docentes de la Universidad Mariana</h1>
<table class="table table-dark table-striped">
  <thead>
  <tr>
    <th>Documento</th>
    <th>Nombres y apellidos</th>
    <th>Celular</th>
    <th>Estado</th>
    <th>Facultad</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let persona of personas">
    <td>{{persona.documento}}</td>
    <td>{{persona.nombres | uppercase}} {{persona.apellidos | uppercase}}</td>
    <td>{{persona.celular}}</td>
    <td>{{persona.estado.nombre}}</td>
    <td *ngIf="persona.facultad.nombre==='Ingeniería'" class="bg-primary">{{persona.facultad.nombre}}</td>
    <td *ngIf="persona.facultad.nombre==='Ciencias de la Salud'" class="btn-success">{{persona.facultad.nombre}}</td>
    <td *ngIf="persona.facultad.nombre==='Ciencias contables, Economicas y financieras'" class="btn-warning">{{persona.facultad.nombre}}</td>
    <td *ngIf="persona.facultad.nombre==='Humanidades y Ciencias y Sociales'" class="btn-danger">{{persona.facultad.nombre}}</td>
    <td *ngIf="persona.facultad.nombre==='Administrativa, secretartia y logistica'" class="btn-light">{{persona.facultad.nombre}}</td>
  </tr>
  </tbody>
</table>
