<nav  class="nav nav-pills  bg-dark pb-5">
  <li routerLinkActive="active">
    <a class="btn-danger nav-link ml-2 mr-2 mt-5" routerLink="/personas">Listado de personas</a>
  </li>
  <li routerLinkActive="active">
    <a class="btn-danger nav-link ml-2 mr-2 mt-5" routerLink="/docentes">Listado docentes</a>
  </li>
  <li routerLinkActive="active">
    <a class="btn-danger nav-link ml-2 mr-2 mt-5" href="#">Actualizar mi estado con respecto al covid19</a>
  </li>
  <li routerLinkActive="active">
    <a class="btn-danger nav-link ml-2 mr-2 mt-5" href="#">Universidad Mariana</a>
  </li>
</nav>
